
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-box {
    background-color: transparent;
    width: 350px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 10px 30px;
    display: inline-flex;
    flex-wrap: wrap;
    
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
   
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

/*menu*/
*{margin: 0;
    padding: 0px;
    box-sizing: border-box;
  
}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 15px;
    color: #222;
    background-color: rgb(241, 240, 239);
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.section-title h2:before{
    content:'';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main {
    width:1170px;
    margin:100px auto;
}
.menus{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.menu-column{
    width: 30%;
}
.menu-column h4{
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.menu-column h4::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
}


.single-menu{
    display: flex;
    align-items: center;
    margin-top: 40px;
    
}
.single-menu img{
    margin-bottom: 25px;
}
.single-menu img{
    border-radius:50%;
    max-width: 110px;
    border: 1px dashed #fccece;
    padding: 3px;
    margin-right: 15px;
    transition: .3s;  
}
.single-menu:hover img{
   transform: rotate(360deg); 
}
.single-menu .menu-content h5{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500px;
    border-bottom: 1px dashed #222;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.single-menu .menu-content h5 span{
    color:tomato;
    float: right;
    font-weight: 600;
    font-style: italic;
}

/*media qurey*/

@media only screen and (min-width:992px) and (max-width :1200px){
    .main{
        width: 970px;
    }
}
@media only screen and (min-width:768px) and (max-width :991px){
    .main{
        width: 750px;
    }
    .single-menu{
        flex-direction: column;
    }
    .single-menu img{
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 767px){
    .main{
        width: 320px;
    }
    .menu-column{
        width: 100%;
        margin-bottom: 60px;
    }
    .single-menu{
        flex-direction: column;}
    .single-menu img{
        margin-bottom: 25px;
    }
    
}

/*card*/

/*.card--list{
 width: 30%; 
 border-radius: 10px;
 box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

}
.add-to-cart{
    background: var(--primary-color);
    color: var(--accent-color);
    border-radius: 50%;
    padding: 5px;
    cursor:pointer ;
}*/

:root{
    --primary-color:#99a98f;
    --decent-color:#d6e8db;
    --accent-color:#fff;
    --secondary-color: rgb(9,189,9);
    --font-family: 'Poppins', sans-serif;
    --text-color:grey;
}
*{
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
Body{
    background: #fff;
    padding: 0 5%;
}
.header{
    padding: 1rem 0;
}
.header--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.burger-icon i{
    padding: 10px;
    background:grey;
    color: rgb(103, 101, 101);
    border-radius: 5px;
    cursor: pointer;
}
.search--box{
    background-color: var(--decent-color);
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 0 1rem;
}
.search--box i{
    color: var(--primary-color);
}
.search--box input {
    background: transparent;
    border-color: transparent;
    padding: 10px;
    width: 80%;
}
.menu--icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu--icons i {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--decent-color);
}
.fa-cart-shopping{
    background: transparent !important;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    
}
.cart--icons{
    position: relative;
}
.cart--icons span{
    background: var(--secondary-color) ;
    color: var(--accent-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: -5px;
}

 

.section-heading{
    font-size: 18px;
    text-transform: uppercase;
    margin: 1rem 0 10px 0;
    color:var(--text-color);
}
.menu--list{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.menu--item{
    width: 130px;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--decent-color);
    padding: 10px 13px;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: 10px;
}
.menu--item img{
    width: 100%;
}

.card--list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.card{
    width: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 1rem;
    border-radius: 10px;
    background-color: var(--accent-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--text-color);
    /*margin: 40px 0px 10px 35px;*/

}
.card img{
    width: 100%;
    height: 100%;
}
.card--price{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.card--price .price{
    color:var(--primary-color);
    font-weight: 600;
}
.add-to-cart{
    background-color:var(--primary-color);
    color: var(--accent-color);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.add-to-cart:hover{
    color: red;
    box-shadow:rgb(0 0 0/30%) 0px 4px 4px,rgb(231, 236,236)0px 0px 0px 3px;
}
.sidebar{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -300px;

    background-color: var(--accent-color);
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.sidebar.open{
    right: 0;
}
.sidebar-close{
 position: absolute;
 right: 20px;
 top: 10px;
 cursor: pointer;
}
.cart-item{
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 1rem;    
}
.cart-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--text-color);
    border: 1px solid var(--decent-color);
}
.cart-item-price{
color: var(--primary-color);
}
.sidebar-footer{
    position: absolute;
    bottom: 10px;
    width: 80%;
}
.total-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--decent-color);
    border-radius: 5px;
    padding: 15px 10px;
}
.cart-total{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
}
.checkout-btn{
    width: 100%;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}